.DS_Store
.prettierrc
node_modules
npm-debug.log
coverage
annotations
webviewer-ui-beta
webviewer-ui-beta.zip
.prettierrc
# src/license.js
notes
build/
# settings/
environments/ 
dump.rdb
__snapshots__/
keys
test/cypress/screenshotsFolder
test/cypress/snapshots/**/__diff_output__/*

public/meta.json
.env*
lib
prepare-commit-msg